<div class="Title">Edit Menu</div>
<section class="section-sign">
  <%= form_with(url: "/menus/edit/#{@menu.id}", method: "put") do |form| %>

    <div class="Form-section">
      <p class="FormInput--label">Menu Name:</p>
      <%= text_field_tag :menu_name, @menu.name, class: "Form--input" %>
    </div>

    <div class="Form-section">
      <%= form.submit "Update Menu", class: "Form--submit" %>
    </div>
  <% end %>
</section>
