<div class="admin-HomePage">
  <p>Go to</p>
  <div class="Btns--admin">
    <%= link_to "Create New Order", "orders/new" %>
  </div>

  <div class="Btns--admin">
    <%= link_to "All Orders", orders_path %>
  </div>
</div>
