<div class="UserHome">
  <div class="divButton"><%= link_to "My Orders", orders_path, class: "link" %></div>
  <div class="divButton"><%= link_to "Create Order", "orders/new", class: "link" %></div>
  <div class="divButton"><%= link_to "My Cart", carts_path, class: "link" %></div>
</div>
