<div class="HomePage">
  <h1 class="Home--title">Welcome to the Cafeteria</h1>
  <div class="Homepage-signbtns">
    <h3 class="Home--authenticate">
      If you are a new user, <div class="Btns"><%= link_to "Sign Up", new_user_path %></div>
    </h3>

    <h3 class="Home--authenticate">
      Existing users, <div class="Btns"><%= link_to "Sign in", new_sessions_path %></div>
    </h3>
  </div>
</div>
