<div class="EmptyDiv">
  <div class="Empty-WrappingDiv">
    <div class="Empty-image-div"><%= image_tag image,class: "Empty-image" %></div>
    <div class="Empty-Text"><%= text %></div>
  </div>
</div>
