<p> All Orders</p>

<% @pending_orders.each do |order|%>
  <details>
    <summary>
      <div class="Orders--Title">
        <p>Order #<%= order.id%></p>
        <%= form_with(url: "/orders/pending/#{order.id}", method: "post") do %>
          <%= submit_tag "Mark as delivered", class: "CurrentOrderItems--orderButton" %>
        <% end %>
      </div>
    </summary>
    <%= render partial: "pending-section" , locals: {
      items: OrderItem.getOrderItems(order.id),
    } %>
  </details>

<% end %>
