body {
  background-image: url("https://img.freepik.com/free-photo/coffee-cup-coffee-beans-old-wooden-background_126277-173.jpg?size=626&ext=jpg&ga=GA1.2.158196710.1611469346");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 15px;
}
.Home--title {
  font-size: 20px;
  margin-bottom: 30px;
}

.Home--authenticate {
  font-size: 16px;
  margin-bottom: 20px;
}
.UserHeader {
  margin-bottom: 10px;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.Flash-error {
  color: white;
  background-color: darkred;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 8px;
}
.Header {
  color: white;
  font-weight: bolder;
  align-items: center;
  margin: 0 auto;
  font-size: 25px;
  max-width: 400px;
  display: flex;
}
.chef-img {
  border-radius: 50%;
  height: 60px;
  object-fit: contain;
  margin-right: 30px;
}
.UserHome {
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.divButton {
  background-color: rgb(148, 39, 39);
  padding: 10px 15px;
  margin: 30px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.divButton:hover {
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: whitesmoke;
}
a:hover {
  color: white;
}
details {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(182, 62, 62, 0.39);
  padding: 10px;
  padding-bottom: 30px;
  width: 700px;
  margin: 0 auto;
}
.HomePage {
  max-width: 400px;
  margin: 0 auto;
}
.Btns {
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-color: brown;
  margin: 10px;
  padding: 10px;
  width: 65px;
  align-items: center;
}
.Btns:hover {
  transform: scale(1.1);
}
.Homepage-signbtns {
  width: 300px;
  margin-top: 200px;
  margin-left: 50px;
}
.Btns--admin {
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-color: brown;
  margin: 10px;
  padding: 10px;
  width: 150px;
  align-items: center;
}
.Btns--admin:hover {
  transform: scale(1.1);
}
.admin-HomePage {
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
td {
  border-bottom: 1px solid darkslategray;
  padding: 5px;
}
